<section id="reasons" class="blue">
    <h2 class="blue__title">3 Proven benefits</h2>
    <div class="blue__articles">
        <article class="blue__article">
            <h3 class="blue__article--title">Weight lost</h3>
            <p class="blue__article--text">Because olive oil helps keep blood sugar levels stable, it can help curb
                cravings that might otherwise lead to overeating and weight gain.</p>
        </article>
        <article class="blue__article">
            <h3 class="blue__article--title">Healthy immune system</h3>
            <p class="blue__article--text">Eating 3 tablespoons of extra virgin olive oil every day is associated with
                greater growth of immune cells that attack foreign invaders.</p>
        </article>
        <article class="blue__article">
            <h3 class="blue__article--title">It combats pain</h3>
            <p class="blue__article--text">Extra virgin olive oil contains the polyphenol oleocanthal, which has
                demonstrated anti-inflammatory properties similar to ibuprofen.</p>
        </article>
    </div>
    <a class="blue__button" href="https://adalab.es/" title="See more reasons to purchase" target="_blank">More
        reasons</a>

    <a href="#hero" class="blue__arrow" title="Go to HomePage">
        <img src="./assets/images/ico-arrow.svg" alt="Arrow pointing up">
    </a>
</section>