<section class="blue">

    <h2>3 Reasons to purchase</h2>

    <div class="blue__articles">
        <article class="blue__article">
            <p>Ut sed metus</p>
            <p>Lorem ipsum dolor sit amet, consecteur.</p>
        </article>
        <article class="blue__article">
            <p>Curabitur ac erat</p>
            <p>Mauris mattis urna quis lorem molestie.</p>
        </article>
        <article class="blue__article">
            <p>Morbi dictum</p>
            <p>Aliquam in dolor et dolor tincidunt.</p>
        </article>
    </div>

    <p>More reasons</p>

    <img src="./assets/images/ico-arrow.svg" alt="Arrow pointing up">

</section>