<section id="reasons" class="blue">
    <h2 class="blue__title">3 Reasons to purchase</h2>
    <div class="blue__articles">
        <article class="blue__article">
            <h3 class="blue__article--title">Ut sed metus</h3>
            <p class="blue__article--text">Lorem ipsum dolor sit amet, consecteur.</p>
        </article>
        <article class="blue__article">
            <h3 class="blue__article--title">Curabitur ac erat</h3>
            <p class="blue__article--text">Mauris mattis urna quis lorem molestie.</p>
        </article>
        <article class="blue__article">
            <h3 class="blue__article--title">Morbi dictum</h3>
            <p class="blue__article--text">Aliquam in dolor et dolor tincidunt.</p>
        </article>
    </div>
    <a class="blue__button" href="https://adalab.es/" title="See more reasons to purchase" target="_blank">More
        reasons</a>

    <a href="#hero" class="blue__arrow" title="Go to HomePage">
        <img src="./assets/images/ico-arrow.svg" alt="Arrow pointing up">
    </a>
</section>