<footer class="footer">
    <section class="fcontent">
        <ul class="fcontent__sections">
            <li><a class="fcontent__sections--link" href="https://adalab.es/">Articles</a></li>
            <li><a class="fcontent__sections--link" href="https://adalab.es/">Books</a></li>
            <li><a class="fcontent__sections--link" href="https://adalab.es/">Events</a></li>
            <li><a class="fcontent__sections--link" href="https://adalab.es/">Reasons</a></li>
            <li><a class="fcontent__sections--link" href="https://adalab.es/">Tips</a></li>
        </ul>
        <ul class="fcontent__social">
            <li><a class="fcontent__social--link" href="https://adalab.es/">Twitter</a></li>
            <li><a class="fcontent__social--link" href="https://adalab.es/">Instagram</a></li>
            <li><a class="fcontent__social--link" href="https://adalab.es/">Mastodon.social</a></li>
        </ul>
        <div class="fcontent__small">
            <small>&copy2022</small>
            <small>we <i class="fa-solid fa-heart"></i> components</small>

        </div>
    </section>
</footer>