<footer class="footer">
        <div class="fcontent">
                <ul class="fcontent__sections">
                        <li><a class="fcontent__sections--link" href="https://adalab.es/" title="Go to Articles"
                                        target="_blank">Articles</a></li>
                        <li><a class="fcontent__sections--link" href="https://adalab.es/" title="Go to Books"
                                        target="_blank">Books</a></li>
                        <li><a class="fcontent__sections--link" href="https://adalab.es/" title="Go to Events"
                                        target="_blank">Events</a></li>
                        <li><a class="fcontent__sections--link" href="https://adalab.es/" title="Go to Reasons"
                                        target="_blank">Reasons</a></li>
                        <li><a class="fcontent__sections--link" href="https://adalab.es/" title="Go to Tips"
                                        target="_blank">Tips</a></li>
                </ul>
                <ul class="fcontent__social">
                        <li><a class="fcontent__social--link" href="https://adalab.es/" title="Go to Twitter"
                                        target="_blank">Twitter</a></li>
                        <li><a class="fcontent__social--link" href="https://adalab.es/" title="Go to Instagram"
                                        target="_blank">Instagram</a></li>
                        <li><a class="fcontent__social--link" href="https://adalab.es/" title="Go to Mastodon.social"
                                        target="_blank">Mastodon.social</a></li>
                </ul>
                <div class="fcontent__small">
                        <small>&copy;2022</small>
                        <small>we <i class="fa-solid fa-heart"></i> <span class="fcontent__small--components">
                                        olive oil</span></small>

                </div>
        </div>
</footer>