<section class="white">
    <small class="white__small">For healthy food lovers</small>
    <h2 class="white__title">The thousand faces of olive oil</h2>
    <p class="white__text">Olive oil is an all-round food, remarkably versatile and usable raw or in cooking, from
        appetisers to dessert, with a positive result. It is not, therefore, a simple condiment but an ingredient rich
        in flavour, which influences the very perception of the food it is accompanied with.</p>
    <a class="white__button" href="https://adalab.es/" title="Go to look through a window" target="_blank">Go</a>
</section>