// fonts
$font-text: 'Roboto', sans-serif;
$font-title: 'Roboto Slab', serif;

// colors
$color-bt: #3e6907;
$color-menu: #ac881b;
$color-1: white;
$color-2: #8ccbea;
$color-2transp: #eab00274;
$color-3: #304268;
$color-text: #4a4a4a;
