/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link,
a:visited,
a:active {
  text-decoration: none; }

:root {
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

.hero {
  background-image: url("../images/cover.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white; }
  .hero__title {
    font-family: "Roboto Slab", serif;
    font-size: 42px;
    text-transform: uppercase;
    width: 400px;
    text-align: center;
    line-height: 1.5; }
  .hero__subtitle {
    font-size: 16px;
    margin-top: 10px; }
  .hero__arrow {
    background-color: white;
    width: 37px;
    height: 37px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 37px; }

.white {
  margin-top: 15px;
  padding: 45px 15px; }
  .white__title {
    font-family: "Roboto Slab", serif;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 15px; }
  .white__small {
    color: #8ccbea;
    font-size: 14px;
    line-height: 2.5; }
  .white__text {
    line-height: 1.5;
    color: #4a4a4a; }
  .white__button {
    border: solid 2px #f26002;
    border-radius: 50px;
    padding: 12px;
    color: #f26002;
    text-align: center;
    width: 50px;
    margin-top: 30px; }
  .white__arrow {
    background-color: white; }

.blue {
  background-color: #eff9ff;
  padding: 29px 15px 15px 15px;
  text-align: center;
  display: grid;
  justify-content: center; }
  .blue__title {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px; }
  .blue__articles {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 44px;
    padding: 20px 55px;
    width: 200px; }
  .blue__article--title {
    font-family: "Roboto Slab", serif;
    text-align: center;
    line-height: 1.5; }
  .blue__article--text {
    text-align: center;
    line-height: 1.5; }
  .blue__button {
    background-color: #f26002;
    padding: 12px;
    border-radius: 50px;
    width: 170px;
    font-size: 20px;
    color: white;
    text-align: center;
    justify-self: center;
    margin-top: 30px; }
  .blue__arrow {
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-self: center;
    transform: translate(0%, 90%);
    box-shadow: 1px 1px 5px 0px #d7d7d7; }

.footer {
  background-color: #304268;
  color: white; }

/*# sourceMappingURL=main.css.map */
