@import "core/variables";
@import "core/reset";
// @import 'components/code';
@import "components/links";
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

:root {
  font-family: $font-text;
  font-size: 18px;
}

// STYLES HERO
.hero {
  background-image: url("../images/cover.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: $color-1;

  &__title {
    font-family: $font-title;
    font-size: 42px;
    text-transform: uppercase;
    width: 400px;
    text-align: center;
    line-height: 1.5;
  }

  &__subtitle {
    font-size: 16px;
    margin-top: 10px;
  }
  &__arrow {
    background-color: $color-1;
    width: 37px;
    height: 37px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 37px;
  }
}

// STYLES WHITE SECTION
.white {
  margin-top: 15px;
  padding: 45px 15px;

  &__title {
    font-family: $font-title;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 15px;
  }
  &__small {
    color: $color-2;
    font-size: 14px;
    line-height: 2.5;
  }
  &__text {
    line-height: 1.5;
    color: $color-text;
  }
  &__button {
    border: solid 2px $color-bt;
    border-radius: 50px;
    padding: 12px;
    color: $color-bt;
    text-align: center;
    width: 50px;
    margin-top: 30px;
  }
  &__arrow {
    background-color: $color-1;
  }
}

// STYLES BLUE SECTION
.blue {
  background-color: $color-2transp;
  padding: 29px 15px 15px 15px;
  text-align: center;
  display: grid;
  justify-content: center;

  &__title {
    font-family: $font-title;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
  }
  &__articles {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 44px;
    padding: 20px 55px;
    width: 200px;
  }
  &__article {
    &--title {
      font-family: $font-title;
      text-align: center;
      line-height: 1.5;
    }
    &--text {
      text-align: center;
      line-height: 1.5;
    }
  }
  &__button {
    background-color: $color-bt;
    padding: 12px;
    border-radius: 50px;
    width: 170px;
    font-size: 20px;
    color: $color-1;
    text-align: center;
    justify-self: center;
    margin-top: 30px;
  }
  &__arrow {
    background-color: $color-1;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-self: center;
    transform: translate(0%, 90%);
    box-shadow: 1px 1px 5px 0px rgb(0, 0, 0);
  }
}
// FOOTER STYLES
.footer {
  background-color: $color-3;
  color: $color-1;
  padding-top: 60px;
  padding-bottom: 50px;
}
.fcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .link {
    color: $color-1;
  }
  &__sections {
    text-transform: uppercase;
    line-height: 25px;
    text-align: center;
    width: 100px;
    &--link {
      color: $color-1;
      font-size: 16px;
    }
  }
  &__social {
    text-transform: uppercase;
    line-height: 25px;
    text-align: center;
    width: 160px;
    &--link {
      color: $color-1;
      font-size: 16px;
    }
  }
  &__small {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    .fa-solid {
      color: rgb(221, 52, 52);
    }
  }
}
